@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-indigo);
  transition: 0.3s;
}

@media (max-width: 480px) {
  #app {
    padding: 1rem;
  }
}
